{% extends "foodie/base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<div class="container">
    <div class="jumbotron picture">
        <h1>About</h1>
    {% if user.is_authenticated %}
        <!-- <h3>Hello {{ user.username }}</h3> -->
    {% else %}
        <h3>Register or Login to find your new favorite restaurant!</h3>
    {% endif %}
    </div>
    <img class="teampic" src="{% static 'images/group.jpg' %}">
    <h1 id="teamfoodie">Meet Team Foodie</h1>
    <div class="team">
        <div class="member" id="yi">
            <h2>Yi Liu</h2>
            <img src="{% static 'images/yi.jpg' %}" class="biopic">
            <p class='bio'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni omnis ipsum animi repudiandae, commodi ea blanditiis natus eos dolorum laudantium recusandae beatae magnam exercitationem dolores sapiente quis excepturi sit distinctio.</p>
        </div>
        <div class="member" id="francisco">
            <h2>Francisco Sandoval</h2>
            <img src="{% static 'images/kiko.jpg' %}" class="biopic">
            <p class='bio'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas atque culpa voluptates velit maiores provident delectus rem beatae nam animi magni dolorum, possimus earum hic praesentium molestias quisquam. Voluptatibus, fugit?</p>
        </div>
        <div class="member" id="waika">
            <h2>Wai Ka Wong</h2>
            <img src="{% static 'images/profile_waika.jpg' %}" class="biopic">
            <p class='bio'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nulla accusantium eum blanditiis iste! Rerum perspiciatis recusandae corrupti! Dolorem consectetur, mollitia possimus eum qui iusto neque earum blanditiis velit aliquid?</p>
        </div>
        <div class="member" id="alan">
            <h2>Alan Duncan</h2>
            <img src="{% static 'images/alan.JPG' %}" class="biopic">
            <p class='bio'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis harum quis rerum. Quam placeat quasi rerum asperiores explicabo alias quidem error laboriosam doloribus cumque earum non hic, quae nihil repellat?</p>
        </div>
    </div>
</div>

{% endblock %}