{% extends "foodie/base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<div class="container">
    <div class="jumbotron picture">
        <h1>About</h1>
    {% if user.is_authenticated %}
        <!-- <h3>Hello {{ user.username }}</h3> -->
    {% else %}
        <h3>Register or Login to find your new favorite restaurant!</h3>
    {% endif %}
    </div>
    <img class="teampic" src="{% static 'images/group.jpg' %}">
    <h1 id="teamfoodie">Meet Team Foodie</h1>
    <div class="team">
        <div class="member" id="yi">
            <h2>Yi Liu</h2>
            <img src="{% static 'images/yi.jpg' %}" class="biopic">
            <p class='bio'>Student at General Assembly at General Assembly Web Development Immersive. An easy going, medium paced workaholic.</p>
            <p><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/yi-liu-fruit13ok/">/in/yi-liu-fruit13ok/</a><br>
            <i class="fab fa-github"></i><a href="https://github.com/fruit13ok/">https://github.com/fruit13ok/</a></p>
        </div>
        <div class="member" id="francisco">
            <h2>Francisco Sandoval</h2>
            <img src="{% static 'images/kiko.jpg' %}" class="biopic">
            <p class='bio'>Franciscon is a passionate web developer born and raised in the bay area. He loves the innovation that the tech industry provides, and is fascinated with anything that allows him to grow, especially being able to learn from other dedicated developers. "Full-Stack web development is an exciting way for me to channel my curiosity and make difference."</p>
            <p><i class="fab fa-linkedin"></i> <a href="www.linkedin.com/in/franciscokikosandoval">/in/franciscokikosandoval</a><br>
            <i class="fab fa-github"></i> <a href="https://github.com/okikokim808">https://github.com/okikokim808</a></p>
        </div>
        <div class="member" id="waika">
            <h2>Wai Ka Wong</h2>
            <img src="{% static 'images/profile.jpg' %}" class="biopic">
            <p class='bio'>Coming from a physics and math background, I decided to get into web development due to the freedom and creativity that the field had to offer. Hi, I'm Wai Ka, a fullstack web developer with a great coding passion, specially in back-end. I am always excited to hear new ideas. If you ever got one, let me know and we can build it together</p>
            <p><i class="fab fa-linkedin"></i>  <a href="https://www.linkedin.com/in/waika-wong/">/in/waika-wong</a><br>
            <i class="fab fa-github"></i> <a href="https://github.com/wongsitu">https://github.com/wongsitu</a></p>
        </div>
        <div class="member" id="alan">
            <h2>Alan Duncan</h2>
            <img src="{% static 'images/alan.JPG' %}" class="biopic">
            <p class='bio'>Alan has a background in TV production, but has always had a desire to expand into the world of web development. As a student at General Assembly, he has participated in a hackathon, studied various front-end and back-end technologies, and worked with other developers in building web apps. </p>
            <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/alanjduncan/">/in/alanjduncan</a><br>
            <i class="fab fa-github"></i> <a href="https://github.com/aduncan12">https://github.com/aduncan12</a></p>
        </div>
    </div>
</div>

{% endblock %}