{% load staticfiles %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Foodiee</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin="" defer></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- <script src="{% static 'scripts/app.js' %}"defer></script> -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <!-- map JS -->
        <script src="{% static 'js/map.js' %}" defer></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top navbar sticky">
            <div class="container">
                <ul class="nav navbar-nav">
                    {# Django Home Link / Admin Link / Register Link #}
                    <li><a class="navbar-link" href="{% url 'index' %}">Home</a></li>
                    <li><a class="navbar-link" href="{% url 'about' %}">About</a></li>
                    {# Some logic on what to display for last item#}
                    {% if user.is_authenticated %}
                    <li><a class="navbar-link" href="{% url 'restaurants' %}">Find Restaurant</a></li>
                    <li class="navbar-link" id="dropdown">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Signed in as {{user.username}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <ul>
                                    <li><a class="navbar-link dropdown-item" href="{% url 'userprofile' %}">My profile</a></li>
                                    <li><a class="navbar-link dropdown-item" href="{% url 'profile_edit' %}">Edit Profile</a></li>
                                    <li><a class="navbar-link dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% else %}
                        <li><a href="{% url 'register' %}">Sign Up</a></li>
                        <li><a href="{% url 'user_login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- <img id="headerImage" src="{% static 'images/sushi.jpeg' %}" alt="sushi"> -->
        <!-- <img src="/static/images/italian-pizza-restaurant-italy.jpg" alt="restaurant"> -->

        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <footer><hr /> &copy 2018 Food Doods All Rights Reserved</footer>

</html>