{% extends "foodie/base.html" %}
{% load staticfiles %}

{% block content %}
<div>
    <form id="edit_profile" enctype="multipart/form-data" method="POST">
        {% if registered %}
        <h2 class="profileHeader">Edit Successful!</h2> 
        {% else %}        
        <h2 class="profileHeader">Edit {{ user }}'s Profile</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <input id="submit_edit" type="submit" name="" value="Update">
    </form>
    {% endif %}
</div>
{% endblock %}