<!-- after new user registered, say thank you, 
enctype="multipart/form-data" method="POST" it encode form input data for POST request, 
csrf_token makes your forms secure,
user_form.as_p will populate each form fields. -->
{% extends "foodie/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container picture2">
        <div class="jumbotron">
        {% if registered %}

        <h1>Thank you for registering!</h1>
        
        {% else %}
        
        <h1>Register Here</h1>
            <h3>Just fill out the form.</h3>
            <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            <!-- {{ profile_form.as_p }} -->
            <input type="submit" name="" value="Register">
            </form>
            
        {% endif %}
        </div>
    </div>
{% endblock %}