{% extends "foodie/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <p>Description: {{ userprofile.description }}</p>
    <p>Preferences:</p>
    {% for preference in userprofile.preferences.all %}
      <p>{{preference.cuisine}}  -- {{preference.api_id}}</p>
    {% endfor %}
    <!-- image src only need this project path, os.path is done in settings.py and urls.py -->
    <img src="{{ user.userprofile.profile_pic.url }}">
    <h1>Reviews</h1>
    <div>
      {% block review %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}