{% extends "foodie/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <p>Description: {{ userprofile.description }}</p>
    <!-- <p>Total preferences: {{ userprofile.preferences.all.length }}</p> -->
    <p>Preferences:</p>
    {% for preference in userprofile.preferences.all %}
      <p>{{preference.cuisine}}</p>
    {% endfor %}
    <!-- image src only need this project path, os.path is done in settings.py and urls.py -->
    <img src="{{ user.userprofile.profile_pic.url }}">
    <h2> {{ user }}'s Reviews</h2>
      <div id="user_reviews">
          {% for review in user_reviews %}
            <h3>{{review.restaurant}} {{review.rating}}</h3>
            <h4>{{review.content}}</h4>
            <h4>{{review.user}}</h4>
          {% endfor %}
      </div>
  </div>
</div>
{% endblock %}