#teamfoodie{
    text-align: center;
}
.biopic{
    height: auto;
    width: 40%;
}
.member{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.member p{
    width: 80%;
    text-align: center;
    margin-top: 20px;
}
.teampic{
    margin: auto;
    margin: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
}
.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}