body {
    background-color: rgba(204, 204, 204, 0.495);
}

#teamfoodie{
    text-align: center;
}

.biopic{
    height: auto;
    width: 40%;
}

.member{
    p{width: 80%; text-align: center; margin-top: 20px;}
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.teampic{
    margin: auto;
    margin: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
}

.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#headerImage {
    width: 100vw;
    height: 50vh;
}

.navbar{
    width: 100%;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px, 16px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.40);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.40);
}

.sticky{
    position: fixed;
    left: 0;
    top: 0;
    border-top: 0;
    z-index: 100;
}

.picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    background-image: url("../images/bread.jpg");
    min-height: 0px;
    height: 180px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.picture2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    background-image: url("../images/veggies.jpg");
    min-height: 0px;
    height: 90vh;
    margin-top: 100px;
    margin-bottom: 10px;
    margin: 0;
    margin-right: 0;
    width: 100%;
}

.picture3{
    h1{
        font-size: 200px;
        font-family: 'Chicle';
        color: lightblue;
        -webkit-text-fill-color: lightblue; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    background-image: url("../images/cafe.jpg");
    min-height: 0px;
    height: 100vh;
    margin-top: 100px;
    margin-bottom: 10px;
    margin: 0;
    margin-right: 0;
    width: 100%;
}

.jumbotron{
    
    margin-top: 100px;
}

.picture4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    background-image: url("../images/veggies.jpg");
    min-height: 0px;
    height: 90vh;
    margin-top: 0px;
    margin-bottom: 10px;
    margin: 0;
    margin-right: 0;
    width: 100%;
}
.jumbotron.review{
        padding: 20px;
        margin: 100px;
        height: 50vh;
    }

#id_content{
    height: 50px;
}

#dropdown{
    border: solid black 1px;
    padding: 0;
    margin-top: 8px; 
}

.dropdown-menu{
    flex-direction: column;
}
.footer {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
}

h2{
    border-bottom: solid grey 1px;
    padding-bottom: 4px;
}
h4{
    margin: 40px, 0;
}

.review{
    margin-top: 300px;
}

hr{
    margin-top: 0;
}

#map_restList {
height: 90vh;
display: flex;
flex-direction: row;
align-content: space-between;
justify-content: space-between;
margin-top: 55px;
}

#getRestList {
    display: block;
    margin-left: 10%;
    margin-top: 25px;
    z-index: 2;
    position: absolute;
    }

#map {
width: 100vw;
height: 88vh;
z-index: 1;
// margin-left: 5%;
// margin-top: 1%;
margin-right: 1%;
}

#restList {
    div {
        margin-left: 2%;
        margin-bottom: 5%;
    }
flex-direction: column;
flex-wrap: wrap;
width: 25vw;
height: 85vh;
z-index: 1;
// margin-top: 1%;
margin-left: 1%;
// margin-right: 5%;
font-size: 1em;
overflow-y: auto;
}

// @media only screen and (max-width: 600px) {
// #map_restList{
// height: 150vh;
// display: flex;
// flex-direction: column;
// align-content: space-between;
// justify-content: space-between;
// }

// #restList{
// flex-wrap: none;
// flex-direction: column;
// }}

#profile {
    margin-top: 100px;
    display: grid;
    grid-template-rows: 70px 400px 70px 400px 70px 400px;
    grid-template-columns: repeat(2, 49%);
    grid-gap: 2% 2%;
    #profileHeader{
        grid-area: 1 / span 2;
    }
    #profileImg {
        grid-area: 2 / 1;
    }
    #profileDesc {
        grid-area: 2 / 2;
    }
    #profilePref {
        grid-area: 3 / 1;
    }
    #profileRest {
        grid-area: 3 / 2;
        overflow-y: auto;
    }
    #preferences {
        grid-area: 4 / 1;
        overflow-y: auto;
    }
    #user_saved {
        grid-area: 4 / 2;
        overflow-y: auto;
    }
    #profileReview {
        grid-area: 5 / 1;
    }
    #user_reviews {
        grid-area: 6 / span 2;
        overflow-y: auto;
    }
}